* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    font-family: sans-serif;
    background-color: #1a1a1a;
    color: #fff;
}

.sidebar {
    width: 260px;
    background-color: #2a2a2a;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.sidebar button {
    width: 100%;
    padding: 10px;
    background-color: #3a3a3a;
    color: #fff;
    border: 1px solid #555;
    border-radius: 8px;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #444;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    overflow-y: auto;
}

.sidebar-bottom {
    padding-top: 10px;
    border-top: 1px solid #333;
}


.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.messages {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;   
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-area {
    display: flex;
    padding: 1rem;
    gap: 10px;
    border-top: 1px solid #333;
}

.input-area input {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #555;
    background-color: #2a2a2a;
    color: #fff;
}

.input-area button {
    padding: 24px 20px;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


.chat-item {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.chat-item:hover {
    background-color: #3a3a3a;
}

.btn-delete {
    cursor: pointer;
    font-size: 7px;
    padding: 2px 4px;
    border-radius: 4px;
    width: auto !important;
    min-width: unset;
}

.btn-delete:hover {
    color: #e07070;
}

.message {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 12px;
    margin-bottom: 10px;
    line-height: 1.5;
    word-wrap: break-word;
}


.message.user {
    background-color: #4a90e2;
    color: #fff;
    align-self: flex-end;
}

.message.bot {
    background-color: #2a2a2a;
    color: #fff;
    align-self: flex-start;
}

